*{
	margin: 0;
	padding:0;
}
header{
	text-align: center;
	padding:10px;
	background-image:linear-gradient(to right, rgba(223, 138, 81, 1),rgba(174, 167, 234, 1));
	position:fixed;
	top:0;
	width:100%;
	overflow: hidden;
}

.flex-nav{
	display: flex;
	background-color: gray;
	align-content: ;
	position:sticky;
	top:57px;
	justify-content: flex-start;
}
.flex-nav > div{
	padding: 5px 30px;
	text-align: center;
}
.flex-nav div:hover, .flex-nav div:hover a{
	background-color: black;
	color:white;
}
a{
	text-decoration: none;
	color:black;
}


body{
	margin-top:58px;
}


img{
	float:left;
	
}

div.loginbox{
	text-align: center;
	border:0px solid gray;
	width:50%;
	margin:5% 25% 10% 25%;
	box-shadow: 2px 5px gray;
	padding:5px;
	background-image: linear-gradient(to bottom right, rgba(245, 172, 210, 0.7),rgba(81, 223, 215, 0.8));
}
input,select,legend{
	padding:5px;
	margin:7.5px;
}
p{
	font-family: 'Nunito', sans-serif;
}

footer{
	
	position:fixed;
	bottom:0;
	width: 100% ;
	color:black;
	
	text-align:center;
	background-color: whitesmoke;
	z-index: 1;
}

.btn{
	border-radius:10px;
}
