*{
	margin: 0;
	padding:0;
}
header{
	text-align: center;
	display:flex;
	justify-content: center;
	padding:11px;
	background-image:linear-gradient(to right, rgba(223, 138, 81, 1),rgba(174, 167, 234, 1));
	position:fixed; top:0;
	width:100%;	
	}

.flex-nav{
	display: flex;
	background-color: gray;
	position:sticky;
	top:50px;
	
}
.flex-nav > div{
	padding: 10px 30px;
	text-align: center;
	transition: all 0.4s;
	
}
.flex-nav div:hover, .flex-nav div:hover a{
	background-color: black;
	color:white;
	transform:scale(1.05);
}
a{
	text-decoration: none;
	color:black;
	transition:all 0.4s;
}

.gallery{
	display:flex;
	flex-wrap: wrap;
	background-color: gray;
	align-content: center;


}

.gallery_pic{
	width:200px;
	height:200px;
	padding:5px;
	border-radius: 10px 50px;
	transition:all 0.3s;

}

.gallery_pic:hover{
	transform: scale(1.05);
	transform:rotate(1080deg);
}
body{
	margin-top:58px;
}


img{
	float:left;
	
}

div.loginbox{
	text-align: center;
	border:0px solid gray;
	width:50%;
	margin:5% 25% 10% 25%;
	box-shadow: 2px 5px gray;
	padding:5px;
	background-image: linear-gradient(to bottom right, rgba(245, 172, 210, 0.7),rgba(81, 223, 215, 0.8));
}
input,select,legend{
	padding:5px;
	margin:7.5px;
}
p{
	font-family: 'Nunito', sans-serif;
}

footer{
	
	position:fixed;
	bottom:0;
	width: 100% ;
	color:black;
	
	text-align:center;
	background-color: whitesmoke;
	z-index: 1;
}

.btn{
	border-radius:10px;
}
