*,body, html {	
	box-sizing: border-box;
	margin:0;
	
}
body, html {
	width:100%; height: 100%;
	background-color: #FBFFDC;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body{
	background-color: #FBFFDC;
}

nav.navbar{
	background-color:  #FBFFDC;
	position:sticky;
	top:0;
}

.loginbox{
	width:70%;
	margin: 10% 15%;
	padding:20px;
	background-color: cyan;
	border-radius: 20px;
}

.fa {
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 2px 5px;
  border-radius: 30%;
  transition:all 1s;
}

.nav-item:hover{
	text-decoration: underline;
}


.fa:hover {
    opacity: 0.7;
    background-color: #8EA7E9;
    transform:Scale(1.2);
}

.btn{
	border-radius:300px;
	background-color: #7286D3;
	border-color: #7286D3;
} 	

a{
	text-decoration: none;
	color:black;
}
.buffer{
	height:300px;
}

.overlapdiv{
	position:absolute;
	width:100%;

}
.profile{
	background-color: #98EECC;
	text-align: center;
	border-radius:10px;


}

.element1{
	border-radius: 10px;
	border-left: 2px solid #A4907C;
	color:"white";
	background-color: #D0F5BE;
	width:200px;
}



/*#7286D3
#8EA7E9
#E5E0FF
#FFF2F2*/

